@using WebSite.Models
@model  IEnumerable<MenuInfo>

@*但是如果当前页面有很多这样的相同逻辑的判断会怎么样呢？聪明的程序员肯定知道不能重复你自己的原则，所以我们就要进行重构，但是在View层怎么进行重构呢？使用@helper可以解决这个问题。*@
@helper ShowLink(MenuInfo menu) {
    if (string.IsNullOrEmpty(menu.AreasName)) {
        @Html.ActionLink(menu.TabName, menu.ActionName, menu.ControllerName)
    } else {
        //区域
        @Html.ActionLink(menu.TabName, menu.ActionName, new {
       Controller = menu.ControllerName, Area = menu.AreasName
   })
    }
}
@{
    if (Model.Any()) {
        //一级目录
        <ul class="first-menu">
            <li class="first-menu-li">
                <a href="@("http://" + Request.Url.Host)">首页</a>
            </li>
            @{
        foreach (var menu in Model.Where(t => t.ParentID == Guid.Empty).OrderBy(t => t.Order)) {
            <li class="first-menu-li">
                <span class="first-menu-content">@ShowLink(menu)</span>
                @{
            var twoMenus = Model.Where(t => t.ParentID == menu.ID).OrderBy(t => t.Order);
            if (twoMenus.Any()) {
                <span class="first-menu-add">+&nbsp;</span>
                    <span class="first-menu-minus" style="display:none;">-&nbsp;</span>
                    @*二级目录*@
                    <ul class="two-menu" style="display:none;">
                        @{
                foreach (var twoMenu in twoMenus) {
                    <li class="two-menu-li">
                        @ShowLink(twoMenu)
                    </li>
                }
}
                    </ul>
            }
                }
            </li>
        }
}
        </ul>
    } else {
        <ul class="first-menu">
            <li>
                <a href="@("http://" + Request.Url.Host)">首页</a>
            </li>
        </ul>
    }
}

<script type="text/javascript" src="~/Scripts/Common/WebScripts/LeftMenus.js"></script>